<extend name="Order/personalEdit"/> 
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		<!--左分类-->
        <include file="Public/assets_header"/>
		<!--内容-->
		<div class="mordrMain fr userSEI-content-wrap">
			<div class="title clearfix">
				<ul class="clearfix fl nav">
					<li class="fl active hover"><a href="javascript:;">企业信息</a></li>
				</ul>
			</div>
			<empty name="data">
			    <form action="{:U('enterprise_add')}" method="post">
					<ul class="content-main">
						<li class="clearfix">
							<span class="fl">企业名称：</span>
							<input type="text" name="name" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">成立时间：</span>
							<input type="date" name="set_up_time" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">注册资本：</span>
							<input type="text" name="registered_capital" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">账户余额：</span>
							<input type="text" name="account_balance" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">固定电话：</span>
							<input type="text" name="telephone" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">手机号码：</span>
							<input type="number" name="mobile" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">联系邮箱：</span>
							<input type="text" name="email" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">注册地址：</span>
		                    <select name="province"></select><select name="city"></select><select name="area"></select>    	
		                </li>
						<li>
							<span class="fl">公司所在地址：</span>
							<select name="province1"></select><select name="city1"></select><select name="area1"></select>
		                </li>
						<li class="clearfix">
							<span class="fl">详细地址：</span>
							<input type="text" name="address" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">传真：</span>
							<input type="text" name="fax" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">邮编：</span>
							<input type="text" name="zip_code" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">法人：</span>
							<input type="text" name="legal_person" class="txt fl">
						</li>
						<li class="clearfix">
							<span class="fl">税务登记：</span>
							<input type="text" name="tax_reg" class="txt fl">
						</li>
						<li class="clearfix">
							<input type="submit" class="submit">
						</li>
					</ul>
				</form>
			<else/>
			    <form action="{:U('enterprise_edit')}" method="post">
			    	<ul class="content-main">
						<li class="clearfix">
							<span class="fl">企业名称：</span>
							<input type="text" name="name" class="txt fl" value="{$data.name}">
						</li>
						<li class="clearfix">
							<span class="fl">成立时间：</span>
							<input type="text" name="set_up_time" class="txt fl" value="{$data.set_up_time|date="Y-m-d H:i:s",###}">
						</li>
						<li class="clearfix">
							<span class="fl">注册资本：</span>
							<input type="text" name="registered_capital" class="txt fl" value="{$data.registered_capital}">
						</li>
						<li class="clearfix">
							<span class="fl">账户余额：</span>
							<input type="text" name="account_balance" class="txt fl" value="{$data.account_balance}">
						</li>
						<li class="clearfix">
							<span class="fl">固定电话：</span>
							<input type="text" name="telephone" class="txt fl" value="{$data.telephone}">
						</li>
						<li class="clearfix">
							<span class="fl">手机号码：</span>
							<input type="number" name="mobile" class="txt fl" value="{$data.mobile}">
						</li>
						<li class="clearfix">
							<span class="fl">联系邮箱：</span>
							<input type="text" name="email" class="txt fl" value="{$data.email}">
						</li>
						<li class="clearfix">
								<span class="fl">注册地址：</span>
			                    <select name="province"></select><select name="city"></select><select name="area"></select>    	
			                </li>
							<li>
								<span class="fl">公司所在地址：</span>
								<select name="province1"></select><select name="city1"></select><select name="area1"></select>
			                </li>
						<li class="clearfix">
							<span class="fl">详细地址：</span>
							<input type="text" name="address" class="txt fl" value="address">
						</li>
						<li class="clearfix">
							<span class="fl">传真：</span>
							<input type="text" name="fax" class="txt fl" value="{$data.fax}">
						</li>
						<li class="clearfix">
							<span class="fl">邮编：</span>
							<input type="text" name="zip_code" class="txt fl" value="{$data.zip_code}">
						</li>
						<li class="clearfix">
							<span class="fl">法人：</span>
							<input type="text" name="legal_person" class="txt fl" value="{$data.legal_person}">
						</li>
						<li class="clearfix">
							<span class="fl">税务登记：</span>
							<input type="text" name="tax_reg" class="txt fl" value="{$data.tax_reg}">
						</li>
						<li class="clearfix">
						    <input type="hidden" name="id" value="{$data.id}">
							<input type="submit" value="修改" class="submit">
						</li>
					</ul>
			    </form>				    
			</empty>

		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->

<script language="javascript" src="__COMMON__/js/PCASClass.js"></script>	
<script language="javascript">
	new PCAS("province","city","area","{$data.province}","{$data.city}","{$data.area}");
	new PCAS("province1","city1","area1","{$data.province1}","{$data.city1}","{$data.area1}");
</script>
</block>