<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		<!--左分类-->
		<div class="ficationFl fl">
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">订单中心</span>
				</dt>
				<dd>
					<a href="{:U('Order/order_myorder')}">·&nbsp;&nbsp;我的订单</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('OrderGroup/order_group')}">·&nbsp;&nbsp;团购订单</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('Order/cancel_order_record')}">·&nbsp;&nbsp;取消订单记录</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">资产中心</span>
				</dt>
				<dd>
					<a href="{:U('Assets/balance')}">·&nbsp;&nbsp;余额</a>
				</dd>
				<dd>
					<a href="{:U('Cart/goods')}">·&nbsp;&nbsp;我的购物车</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myCollection')}">·&nbsp;&nbsp;我的收藏</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myComment')}">·&nbsp;&nbsp;我的评价</a>
				</dd>
				<dd>
					<a href="{:U('Assets/coupon')}">·&nbsp;&nbsp;优惠券</a>
				</dd>
				<dd>
					<a href="{:U('Assets/integral')}">·&nbsp;&nbsp;积分</a>
				</dd>
				<dd>
					<a href="{:U('Assets/punkte')}">·&nbsp;&nbsp;积分兑换</a>
				</dd>
				<dd>
					<a href="{:U('Assets/gekauft')}">·&nbsp;&nbsp;我购买过的产品</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myTracks')}">·&nbsp;&nbsp;浏览足迹</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em> 
					<span class="fl">财务中心</span>
				</dt>
				<dd>
					<a href="{:U('Finance/my_invoice')}">·&nbsp;&nbsp;我的发票</a>
				</dd>				
				<if condition="(member_status eq '1') Or (member_status eq '2')">
					<dd>
						<a href="{:U('Finance/my_shipment')}">·&nbsp;&nbsp;我的发货</a>
					</dd>
					<dd>
						<a href="{:U('Finance/my_payment')}">·&nbsp;&nbsp;我的付款</a>
					</dd>
					<dd>
						<a href="{:U('Finance/other_orders')}">·&nbsp;&nbsp;其他订单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/closed_order')}">·&nbsp;&nbsp;已出兑账单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/outstanding_order')}">·&nbsp;&nbsp;未出兑账单</a>
					</dd>
				</if>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">特色业务</span>
				</dt>
				<dd>
					<a href="{:U('SpecialBusiness/enterprise_group')}">·&nbsp;&nbsp;企业团购</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/purchase_requisition')}">·&nbsp;&nbsp;采购需求单</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/join_application')}">·&nbsp;&nbsp;加盟申请</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/printer_rental')}">·&nbsp;&nbsp;打印机租赁</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">商品中心</span>
				</dt>
				<dd>
					<a href="{:U('GoodsCenter/goods_search')}">·&nbsp;&nbsp;商品搜索</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">客户服务</span>
				</dt>
				<dd>
					<a href="{:U('Service/return_repair')}">·&nbsp;&nbsp;返修退换货</a>
				</dd>
				<dd>
					<a href="{:U('Service/after_sale')}">·&nbsp;&nbsp;售后管理</a>
				</dd>
				<dd>
					<a href="{:U('Service/advisoryReply')}">·&nbsp;&nbsp;咨询回复</a>
				</dd>
				<dd>
					<a href="{:U('Service/opinion')}">·&nbsp;&nbsp;意见建议</a>
				</dd>
				<dd>
					<a href="{:U('Service/repair_choice')}">·&nbsp;&nbsp;上门维修服务</a>
				</dd>
				<dd>
					<a href="{:U('Service/announcement')}">·&nbsp;&nbsp;网站公告</a>
				</dd>
				<dd>
					<a href="{:U('Service/report_center')}">·&nbsp;&nbsp;投诉中心</a>
				</dd>
			</dl>
			<dl data="false" class="active">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">用户设置</span>
				</dt>
				<dd>
					<a href="{:U('UserSet/address')}">·&nbsp;&nbsp;收货地址</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('UserSet/enterprise')}">·&nbsp;&nbsp;企业信息</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('UserSet/security')}">·&nbsp;&nbsp;安全设置</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">个人资料</span>
				</dt>
				<dd>
					<a href="{:U('UserData/user_data')}">·&nbsp;&nbsp;个人资料</a>
				</dd>
				<dd>
					<a href="{:U('UserData/bind_account')}">·&nbsp;&nbsp;账号绑定</a>
				</dd>
				<dd>
					<a href="{:U('UserData/special_application')}">·&nbsp;&nbsp;申请账期支付</a>
				</dd>
			</dl>
		</div>
		<!--内容-->
		<div class="mordrMain fr sysetti-content-wrap">
			<div class="title clearfix">
				<ul class="clearfix fl nav">
					<li class="fl active hover"><a href="javascript:;">设置密保问题</a></li>
				</ul>
			</div>
			<dl class="content-main">
				<dt>安全保护问题将作为重要的身份验证方式，请认真设置！</dt>
				<empty name="data">
					<form action="{:U('UserSet/security_question')}" method="post" onsubmit="return question()">
						<dd class="clearfix">
							<span class="fl">问题一</span>
							<div class="fl select">
								<select name="problem1" id="problem1">
									<option>请选择</option>
									<option>您的初恋叫什么名字?</option>
									<option>您最喜欢的颜色是?</option>
									<option>您高中的班主任叫什么名字?</option>
									<option>您最喜欢的运动是什么?</option>
									<option>您初中的班主任叫什么名字?</option>
									<option>您小学的班主任叫什么名字?</option>
		                            <option>您最熟悉的童年好友名字是?</option>
									<option>您的学号(或工号)是?</option>
								</select>
							</div>
						</dd>
						<dd class="clearfix">
							<span class="fl">答案</span>
							<input type="text" name="answer1" id="answer1" class="txt">
						</dd>
						<dd class="clearfix">
							<span class="fl">问题二</span>
							<div class="fl select">
								<select name="problem2" id="problem2">
									<option>请选择</option>
									<option>您的初恋叫什么名字?</option>
									<option>您最喜欢的颜色是?</option>
									<option>您高中的班主任叫什么名字?</option>
									<option>您最喜欢的运动是什么?</option>
									<option>您初中的班主任叫什么名字?</option>
									<option>您小学的班主任叫什么名字?</option>
		                            <option>您最熟悉的童年好友名字是?</option>
									<option>您的学号(或工号)是?</option>
								</select>
							</div>
						</dd>
						<dd class="clearfix">
							<span class="fl">答案</span>
							<input type="text" name="answer2" id="answer2" class="txt">
						</dd>
						<dd class="clearfix">
							<span class="fl">问题三</span>
							<div class="fl select">
								<select name="problem3" id="problem3">
									<option>请选择</option>
									<option>您的初恋叫什么名字?</option>
									<option>您最喜欢的颜色是?</option>
									<option>您高中的班主任叫什么名字?</option>
									<option>您最喜欢的运动是什么?</option>
									<option>您初中的班主任叫什么名字?</option>
									<option>您小学的班主任叫什么名字?</option>
		                            <option>您最熟悉的童年好友名字是?</option>
									<option>您的学号(或工号)是?</option>
								</select>
							</div>
						</dd>
						<dd class="clearfix">
							<span class="fl">答案</span>
							<input type="text" name="answer3" id="answer3" class="txt">
						</dd>
						<dd class="clearfix">
							<span class="fl"></span>
							<input type="submit" class="button" value="确定">
						</dd>
					</form>
				<else/>
				    <form action="{:U('UserSet/question_edit')}" method="post">
					<volist name="data" id="vo" key="key">
						<dd class="clearfix">
							<span class="fl">问题{$key}</span>
							<div class="fl select">
								<select name="problem{$key}" id="problem{$key}">
									<option>{$vo.problem}</option>
									<option>您的初恋叫什么名字?</option>
									<option>您最喜欢的颜色是?</option>
									<option>您高中的班主任叫什么名字?</option>
									<option>您最喜欢的运动是什么?</option>
									<option>您初中的班主任叫什么名字?</option>
									<option>您小学的班主任叫什么名字?</option>
		                            <option>您最熟悉的童年好友名字是?</option>
									<option>您的学号(或工号)是?</option>
								</select>
							</div>
						</dd>
						<dd class="clearfix">
							<span class="fl">答案</span>
							<input type="hidden" name="id{$key}" value="{$vo.id}">
							<input type="text" name="answer{$key}" id="answer{$key}" class="txt" value="{$vo.answer}">
						</dd>
						</volist>
					<dd class="clearfix">
						<span class="fl"></span>
						<input type="submit" class="button" value="修改">
					</dd>
				</form>
				</empty>
			</dl>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
<script src="__JS__/userset/address.js"></script>	
<!-- <script src="js/header.js"></script>
 -->
</block>