<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		<!--左分类-->
		<div class="ficationFl fl">
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">订单中心</span>
				</dt>
				<dd>
					<a href="{:U('Order/order_myorder')}">·&nbsp;&nbsp;我的订单</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('OrderGroup/order_group')}">·&nbsp;&nbsp;团购订单</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('Order/cancel_order_record')}">·&nbsp;&nbsp;取消订单记录</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">资产中心</span>
				</dt>
				<dd>
					<a href="{:U('Assets/balance')}">·&nbsp;&nbsp;余额</a>
				</dd>
				<dd>
					<a href="{:U('Cart/goods')}">·&nbsp;&nbsp;我的购物车</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myCollection')}">·&nbsp;&nbsp;我的收藏</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myComment')}">·&nbsp;&nbsp;我的评价</a>
				</dd>
				<dd>
					<a href="{:U('Assets/coupon')}">·&nbsp;&nbsp;优惠券</a>
				</dd>
				<dd>
					<a href="{:U('Assets/integral')}">·&nbsp;&nbsp;积分</a>
				</dd>
				<dd>
					<a href="{:U('Assets/punkte')}">·&nbsp;&nbsp;积分兑换</a>
				</dd>
				<dd>
					<a href="{:U('Assets/gekauft')}">·&nbsp;&nbsp;我购买过的产品</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myTracks')}">·&nbsp;&nbsp;浏览足迹</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em> 
					<span class="fl">财务中心</span>
				</dt>
				<dd>
					<a href="{:U('Finance/my_invoice')}">·&nbsp;&nbsp;我的发票</a>
				</dd>				
				<if condition="(member_status eq '1') Or (member_status eq '2')">
					<dd>
						<a href="{:U('Finance/my_shipment')}">·&nbsp;&nbsp;我的发货</a>
					</dd>
					<dd>
						<a href="{:U('Finance/my_payment')}">·&nbsp;&nbsp;我的付款</a>
					</dd>
					<dd>
						<a href="{:U('Finance/other_orders')}">·&nbsp;&nbsp;其他订单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/closed_order')}">·&nbsp;&nbsp;已出兑账单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/outstanding_order')}">·&nbsp;&nbsp;未出兑账单</a>
					</dd>
				</if>
			</dl>
			<dl data="false" class="active">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">特色业务</span>
				</dt>
				<dd>
					<a href="{:U('SpecialBusiness/enterprise_group')}">·&nbsp;&nbsp;企业团购</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/purchase_requisition')}">·&nbsp;&nbsp;采购需求单</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/join_application')}">·&nbsp;&nbsp;加盟申请</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/printer_rental')}">·&nbsp;&nbsp;打印机租赁</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">商品中心</span>
				</dt>
				<dd>
					<a href="{:U('GoodsCenter/goods_search')}">·&nbsp;&nbsp;商品搜索</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">客户服务</span>
				</dt>
				<dd>
					<a href="{:U('Service/return_repair')}">·&nbsp;&nbsp;返修退换货</a>
				</dd>
				<dd>
					<a href="{:U('Service/after_sale')}">·&nbsp;&nbsp;售后管理</a>
				</dd>
				<dd>
					<a href="{:U('Service/advisoryReply')}">·&nbsp;&nbsp;咨询回复</a>
				</dd>
				<dd>
					<a href="{:U('Service/opinion')}">·&nbsp;&nbsp;意见建议</a>
				</dd>
				<dd>
					<a href="{:U('Service/repair_choice')}">·&nbsp;&nbsp;上门维修服务</a>
				</dd>
				<dd>
					<a href="{:U('Service/announcement')}">·&nbsp;&nbsp;网站公告</a>
				</dd>
				<dd>
					<a href="{:U('Service/report_center')}">·&nbsp;&nbsp;投诉中心</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">用户设置</span>
				</dt>
				<dd>
					<a href="{:U('UserSet/address')}">·&nbsp;&nbsp;收货地址</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('UserSet/enterprise')}">·&nbsp;&nbsp;企业信息</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('UserSet/security')}">·&nbsp;&nbsp;安全设置</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">个人资料</span>
				</dt>
				<dd>
					<a href="{:U('UserData/user_data')}">·&nbsp;&nbsp;个人资料</a>
				</dd>
				<dd>
					<a href="{:U('UserData/bind_account')}">·&nbsp;&nbsp;账号绑定</a>
				</dd>
				<dd>
					<a href="{:U('UserData/special_application')}">·&nbsp;&nbsp;申请账期支付</a>
				</dd>
			</dl>
		</div>
		<!--内容-->
		<div class="mordrMain fr personaM-content-wrap">
			<div class="title clearfix">
				<ul class="clearfix fl nav">
					<li class="fl active hover"><a href="javascript:;">加盟申请</a></li>
				</ul>
			</div>
			<form action="{:U('SpecialBusiness/join_application')}" method="post" onsubmit="return check()">
				<dl class="content-main">
					<dd class="clearfix">
						<span class="fl">申请人 ：</span>
						<input type="text" name="applicant" id="applicant" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">联系方式 ：</span>
						<input type="text" name="tel" id="tel" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">年龄：</span>
						<input type="number" name="age" id="age" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">联系邮箱：</span>
						<input type="text" name="email" id="email" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">省/市/县：</span>
						<select name="province" id="province"></select><select name="city" id="city"></select><select name="area" id="area"></select>
					</dd>
					<dd class="clearfix">
						<span class="fl">详细地址：</span>
						<input type="text" name="address" id="address" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">传真：</span>
						<input type="text" name="fax" id="fax" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">QQ：</span>
						<input type="number" name="qq" id="qq" class="txt fl">
					</dd>
					<dd class="clearfix">
						<span class="fl">备注说明：</span>
						<textarea class="fl" cols="56" rows="5" name="remark" id="remark"></textarea>
					</dd>
					<dd class="clearfix">
						<span class="fl"></span>
						<input type="submit" value="提交申请" class="sub">
					</dd>
				</dl>
			</form>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
<script language="javascript" src="__COMMON__/js/PCASClass.js"></script>	
<script language="javascript">
	new PCAS("province","city","area","{$data.province}","{$data.city}","{$data.area}");
</script>
<script src="__JS__/Special/special.js"></script>	
<!-- <script src="js/header.js"></script> -->
</block>