<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		<!--左分类-->
		<div class="ficationFl fl">
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">订单中心</span>
				</dt>
				<dd>
					<a href="{:U('Order/order_myorder')}">·&nbsp;&nbsp;我的订单</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('OrderGroup/order_group')}">·&nbsp;&nbsp;团购订单</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('Order/cancel_order_record')}">·&nbsp;&nbsp;取消订单记录</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">资产中心</span>
				</dt>
				<dd>
					<a href="{:U('Assets/balance')}">·&nbsp;&nbsp;余额</a>
				</dd>
				<dd>
					<a href="{:U('Cart/goods')}">·&nbsp;&nbsp;我的购物车</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myCollection')}">·&nbsp;&nbsp;我的收藏</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myComment')}">·&nbsp;&nbsp;我的评价</a>
				</dd>
				<dd>
					<a href="{:U('Assets/coupon')}">·&nbsp;&nbsp;优惠券</a>
				</dd>
				<dd>
					<a href="{:U('Assets/integral')}">·&nbsp;&nbsp;积分</a>
				</dd>
				<dd>
					<a href="{:U('Assets/punkte')}">·&nbsp;&nbsp;积分兑换</a>
				</dd>
				<dd>
					<a href="{:U('Assets/gekauft')}">·&nbsp;&nbsp;我购买过的产品</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myTracks')}">·&nbsp;&nbsp;浏览足迹</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em> 
					<span class="fl">财务中心</span>
				</dt>
				<dd>
					<a href="{:U('Finance/my_invoice')}">·&nbsp;&nbsp;我的发票</a>
				</dd>				
				<if condition="(member_status eq '1') Or (member_status eq '2')">
					<dd>
						<a href="{:U('Finance/my_shipment')}">·&nbsp;&nbsp;我的发货</a>
					</dd>
					<dd>
						<a href="{:U('Finance/my_payment')}">·&nbsp;&nbsp;我的付款</a>
					</dd>
					<dd>
						<a href="{:U('Finance/other_orders')}">·&nbsp;&nbsp;其他订单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/closed_order')}">·&nbsp;&nbsp;已出兑账单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/outstanding_order')}">·&nbsp;&nbsp;未出兑账单</a>
					</dd>
				</if>
			</dl>
			<dl data="false" class="active">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">特色业务</span>
				</dt>
				<dd>
					<a href="{:U('SpecialBusiness/enterprise_group')}">·&nbsp;&nbsp;企业团购</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/purchase_requisition')}">·&nbsp;&nbsp;采购需求单</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/join_application')}">·&nbsp;&nbsp;加盟申请</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/printer_rental')}">·&nbsp;&nbsp;打印机租赁</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">商品中心</span>
				</dt>
				<dd>
					<a href="{:U('GoodsCenter/goods_search')}">·&nbsp;&nbsp;商品搜索</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">客户服务</span>
				</dt>
				<dd>
					<a href="{:U('Service/return_repair')}">·&nbsp;&nbsp;返修退换货</a>
				</dd>
				<dd>
					<a href="{:U('Service/after_sale')}">·&nbsp;&nbsp;售后管理</a>
				</dd>
				<dd>
					<a href="{:U('Service/advisoryReply')}">·&nbsp;&nbsp;咨询回复</a>
				</dd>
				<dd>
					<a href="{:U('Service/opinion')}">·&nbsp;&nbsp;意见建议</a>
				</dd>
				<dd>
					<a href="{:U('Service/repair_choice')}">·&nbsp;&nbsp;上门维修服务</a>
				</dd>
				<dd>
					<a href="{:U('Service/announcement')}">·&nbsp;&nbsp;网站公告</a>
				</dd>
				<dd>
					<a href="{:U('Service/report_center')}">·&nbsp;&nbsp;投诉中心</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">用户设置</span>
				</dt>
				<dd>
					<a href="{:U('UserSet/address')}">·&nbsp;&nbsp;收货地址</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('UserSet/enterprise')}">·&nbsp;&nbsp;企业信息</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('UserSet/security')}">·&nbsp;&nbsp;安全设置</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">个人资料</span>
				</dt>
				<dd>
					<a href="{:U('UserData/user_data')}">·&nbsp;&nbsp;个人资料</a>
				</dd>
				<dd>
					<a href="{:U('UserData/bind_account')}">·&nbsp;&nbsp;账号绑定</a>
				</dd>
				<dd>
					<a href="{:U('UserData/special_application')}">·&nbsp;&nbsp;申请账期支付</a>
				</dd>
			</dl>
		</div>
		<!--内容-->
		<div class="mordrMain fr contdet-content-wrap">
			<div class="title clearfix">
				<ul class="clearfix fl nav">
					<li class="fl active hover"><a href="javascript:;">打印机租凭--申请退回押金记录</a></li>
				</ul>
			</div>
			<div class="content-main"> 
				<div class="products-wrap clearfix">
					<div class="screenshot fl">
						<img src="__SERVER__/{$goods.images}" width="110" height="110">
					</div>
					<dl class="products-model fl">
						<dt>租赁机器型号:</dt>
						<dd>{$goods.title}</dd>
						<dd><b>租赁到期日期：</b><em class="colorRed">{$data.start_time|date="Y-m-d",###} 至 {$data.due_time|date="Y-m-d",###}</em></dd>
						<dd><b>租赁单价：</b><b class="colorRed">{$data.lease_price}</b>元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;彩色: {$data.colour_price}元/张 ， 黑白: {$data.black_price}元/张</dd>
					</dl>
					<ul class="products-term fr">
						<li>已申请退回定金&nbsp;|&nbsp;<em class="colorRed font16">
                            <switch name="data.status">
                            	<case value="2">已提交</case>
                            	<case value="3">待处理</case>
                            	<case value="4">审核中</case>
                            	<case value="5">审核失败</case>
                            	<case value="6">退款中</case>
                            	<case value="7">退款成功</case>
                            </switch>
						</em></li>
						<li><b>已交租赁押金：</b><em class="colorRed font20">{$data.deposit}</em>元 </li>
						<li>{$data.meter_reading_time}</li>
					</ul>
				</div>
				<div class="table-main">
					<div class="caption clearfix">
						<h2>最近抄表</h2>
						<a href="{:U('SpecialBusiness/Record',array('id'=>$data['id']))}" class="fr gray">查看补充耗材记录</a>
						<a href="{:U('SpecialBusiness/public_payment',array('id'=>$data['id']))}" class="fr blue">查看抄表记录</a>
					</div>
					<div class="header-bg"></div>
					<table>
						<tr>
							<th>抄表日期</th>
							<th>抄表总数</th>
							<th>彩色数</th>
							<th>黑色数</th>
							<th>支付费用</th>
							<th>支付状态</th>
						</tr>
						<empty name="meter">
						    <td></td>
						    <td></td>
						    <td>暂时没有记录!</td>
						    <td></td>
						    <td></td>
						    <td></td>
						<else/>
						<tr>
							<td>{$meter.meter_time|date="Y-m-d",###}</td>
							<td>{$meter.meter_reading}</td>
							<td>{$meter.colour_num}</td>
							<td>{$meter.black_num}</td>
							<td>￥{$meter.pay_price}</td>
							<td class="red">
                                <switch name="meter.pay_status">
                                	<case value="0">未支付</case>
                                	<case value="1">已支付</case>
                                	<case value="2">对公支付</case>
                                </switch>
							</td>
						</tr>
						</empty>
					</table>
				</div>
				<dl class="dReturnState-main">
					<dt>申请退回押金状态：</dt>
					<volist name="deposit" id="vo">					    
						<dd>
							<em></em>
							<b>{$vo.add_time|date="Y-m-d",###}</b>
							<b class="padding-R">{$vo.sunday}</b>
							<span>{$vo.add_time|date="H:i:s",###}</span>
							<b><switch name="vo.status">
                            	<case value="2">已提交</case>
                            	<case value="3">待处理</case>
                            	<case value="4">审核中</case>
                            	<case value="5">审核失败</case>
                            	<case value="6">退款中</case>
                            	<case value="7">退款成功</case>
                            </switch>-</b>
                            <if condition="$vo.status eq '5'">
                            <span>{$vo.reason}</span>
					        <else/>
							<span>您的申请退回押金请求已开始处理</span>
							</if>
						</dd>
						
					</volist>
				</dl>
				<div class="return-btn-main">
					<a href="javascript:history.go(-1);">返回</a>
				</div>
			</div>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
	
<!-- <script src="js/header.js"></script> -->
</block>