<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Common/Layer/layer.js"></script>
<script>
//刷新
function refresh(){
	window.location.href = window.location.href;
}
//删除用户
function del(id){
	$("#del"+id+" td").css('background','#CBDFF2');
	parent.layer.confirm('真的要删除吗？', {
		btn: ['确认','取消'], //按钮
		shade: 0.5 //显示遮罩
	}, function(){
		$.post("{:U('Activity/activity_del')}", { "id": id},function(data){
			if(data.code == 1){
				parent.layer.msg('删除成功', { icon: 1, time: 1000 }, function(){
						$("#del"+id).remove();
					});
			}else{
				parent.layer.msg('删除失败', {icon: 2, time: 2000 }); 
			}
		}, "json");
	},function(){
		$("#del"+id+" td").css('border-top','0');
		$("#del"+id+" td").css('border-bottom','1px solid #EFEFEF');
	});
}
//编辑活动
function edit(id){
	window.location.href = "{:U('Activity/activity_edit')}?id="+id;
}

//报名人数
function enroll(id){
	parent.layer.open({
		type: 2,
		shadeClose: true,
		shade: 0.5,
		area: ['1000px', '650px'],
		title: '报名人员管理',
		content: "{:U('Activity/activity_enroll')}?id="+id
	});
}

</script>
</head>
<body>

<div class="nav">
	<div class="nav_title">
    	<h4><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif" /><span class="nav_a"><php>echo urldecode($_GET['menu_title']);</php></span></h4>
    </div>
</div>

<form action="__SELF__" method="POST">
<div class="search" style=" line-height:50px; padding-left:30px; margin-top:3px;">
	标题： <input type="text" class="input" name="title" value="" maxlength="30" size="20" />
	  &nbsp;&nbsp;
     标签： <input type="text" class="input" name="keyword" value="" maxlength="30" size="20" />&nbsp;&nbsp;
    <button type="submit" class="button">查 询</button>
    <button type="button" class="button" onclick="refresh()">刷 新</button>
</div>
</form>

<div class="list">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
      <thead>
	    <tr>
	      <td width="15%"><div align="center">ID</div></td>
          <td width="30%"><div align="center">评论内容</div></td>
          <td width="18%"><div align="center">评论人</div></td>	      
	      <td width="17%"><div align="center">评论时间</div></td>
	      <td width="20%"><div align="center">操作</div></td>
        </tr>
        </thead>
        <tbody>
        <foreach name="result" item="vo">
	    <tr id="del{$vo.id}">
	      <td height="50"><div align="center">{$vo.nid}</div></td>
          <td><div align="center">{$vo.content}</div></td>
          <td><div align="center">{$vo.member}</div></td>
	      <td><div align="center">{$vo.create_time}</div></td>
	      <td><div align="center">    
	        <a class="a_button" href="javascript:;" onClick="edit({$vo.id});">编辑</a>
	        <a class="a_button" href="javascript:;" onClick="del({$vo[id]})">删除</a>
          </div></td>
        </tr>
        </foreach>
        </tbody>
  </table>
</div>

<!-- 分页 -->
<div class="page">
{$page}
</div>


</body>
</html>
