<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Common/Layer/layer.js"></script>
<script>
//刷新
function refresh(){
	window.location.href = window.location.href;
}
//删除
function del(id){
	$("#del"+id+" td").css('background','#CBDFF2');
	parent.layer.confirm('真的要删除吗？', {
		btn: ['确认','取消'], //按钮
		shade: 0.5 //显示遮罩
	}, function(){
		$.post("{:U('Tourism/tourism_orders_del')}", { "id": id},function(data){
			if(data.code == 1){
				parent.layer.msg('删除成功', { icon: 1, time: 1000 }, function(){
						$("#del"+id).remove();
					});
			}else{
				parent.layer.msg('删除失败', {icon: 2, time: 2000 }); 
			}
		}, "json");
	},function(){
		$("#del"+id+" td").css('border-top','0');
		$("#del"+id+" td").css('border-bottom','1px solid #EFEFEF');
	});
}

//编辑
function edit(id){
	parent.layer.open({
		type: 2,
		shadeClose: true,
		shade: 0.3,
		area: ['800px', '90%'],
		title: '添加发团计划表',
		content: "{:U('Tourism/tourism_orders_edit')}?id="+id
	});
}

//导出数据
function export_orders(){
	parent.layer.open({
		type: 2,
		title: '批量导出订单',
		shadeClose: true,
		shade: 0.5,
		area: ['600px', '300px'],
		content: "{:U('Tourism/export_orders')}" //iframe的url
	});
}
</script>
</head>
<body>

<form action="__SELF__" method="POST">
<div class="search" style=" line-height:50px; padding-left:30px; margin-top:3px;">
	手机号码： <input type="text" class="input" name="link_tel" value="{$post.link_tel}" maxlength="30" size="20" />
	  &nbsp;&nbsp;&nbsp;
<button type="submit" class="button">查 询</button>
    <button type="button" class="button" onclick="refresh()">刷 新</button>
    <button type="button" class="button" onClick="export_orders();" style="background:#146AC1;">批量导出订单</button>
</div>
</form>

<div class="list">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
      <thead>
	    <tr>
	      <td width="9%"><div align="center">ID</div></td>
          <td width="13%"><div align="center">联系人</div></td>
          <td width="14%"><div align="center">联系电话</div></td>
          <td width="17%"><div align="center">出行人数</div></td>
          <td width="15%"><div align="center">单价（元）</div></td>
          <td width="15%"><div align="center">出发日期</div></td>	      
	      <td width="17%"><div align="center">操作</div></td>
        </tr>
        </thead>
        <tbody>
        <foreach name="result" item="vo">
	    <tr id="del{$vo.id}">
	      <td height="50"><div align="center">{$vo.id}</div></td>
          <td><div align="center">{$vo.link_man}</div></td>
          <td><div align="center">{$vo.link_tel}</div></td>
          <td><div align="center">成人：{$vo.renshu_chengren}<br/>儿童：{$vo.renshu_ertong}</div></td>
          <td><div align="center">成人：{$vo.price_chengren}<br/>儿童：{$vo.price_chengren}</div></td>
          <td><div align="center">{$vo.date}</div></td>
	      <td><div align="center"><a class="a_button" href="javascript:;" onClick="edit({$vo.id});">编辑</a>	        
	        <a class="a_button" href="javascript:;" onClick="del({$vo[id]})">删除</a>
          </div></td>
        </tr>
        </foreach>
        </tbody>
  </table>
</div>

<!-- 分页 -->
<div class="page">
{$page}
</div>


</body>
</html>
