<extend name="Public/publicHTML" />
<block name="nav">
<link rel="stylesheet" href="__COMMON__/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="__CSS__/prompt.css"/>
<link rel="stylesheet"
    href="__COMMON__/bootstrap/css/font-awesome.min.css"/>
 <div id="explanation" class="explanation">
                <div id="checkZoom" class="title">
                    <i class="fa fa-lightbulb-o"></i>
                    <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
                    <span title="收起提示" id="explanationZoom" style="display: block;"></span>
                </div>
                <ul>
                    <li>平台添加组名,选择分配权限</li>
                    <li>平台无法删除</li>
                </ul>
            </div>
       <div class="row">   
<div class="nav">
	<div class="nav_title">
		<h4>
			<img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif"><span
				class="nav_a">添加用户组</span>
		</h4>
	</div>
	<div class="nav_button">
		<a href="javascript:history.go(-1);"><button class="button">返回上一层</button></a>
	</div>
</div>
</block>
<block name="content">
<form name="myform" action="{:U('addAudit')}" method="post"
	onsubmit="return check_form();">
	<div class="list">
		<table width="100%" border="0" cellpadding="0" cellspacing="0"
			class="details">
			<tbody>
				<tr>
					<td width="20%"><div align="right">组名称：</div></td>
					<td width="80%"><input type="text" name="title" id="title"
						size="24" value="" style="margin-left: 10px; width: 195px;" /> *
						栏目或操作的中文名称</td>
				</tr>
				<tr>
					<td><div align="right">分配的权限：</div></td>
					<td><input type="hidden" id="all" value="1" /> <input
						type="button" value="全选 / 取消" class="btn" id="all_checkbox"
						style="width: 200px;"> * 给组分配的权限</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<ul class="first_checkbox" style="margin-left: 10px;">
							<foreach name="data" item="vo">
							<li><input type="hidden" id="box{$vo.id}" value="0" /> <input
								type="checkbox" name="rules[]" class="checkbox{$vo.id}"
								id="{$vo.id}" onclick="checkbox({$vo.id})" value="{$vo.id}" />
								<label for="{$vo.id}">{$vo.title}</laber><br />
									<div class="two_checkbox">
										┠─&nbsp;&nbsp;
										<foreach name="vo['children']" item="sub"> <input
											type="checkbox" name="rules[]" class="checkbox{$vo.id}"
											id="{$sub.id}" value="{$sub.id}" style="margin-left: 20px;" />
										<label for="{$sub.id}">{$sub.title}</laber></foreach>
									</div></li>
							</foreach>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="footer">
		<button type="submit" class="button">确 认</button>
	</div>
</form>
<script type="text/javascript" src="__JS__/admin/groupAdd.js"></script>
</block>