<extend name="Public/payConfigHeader"/>
<block name="content">

	<div class="nav">
		<div class="nav_title">
	    	<h4><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif" /><span class="nav_a">添加支付配置【例如 微信支付】</span></h4>
	    </div>
	    <if condition=" $_SESSION['aid'] eq 1">
	    <div class="nav_button">
	    	<a href="javascript:;" onclick="add();"><button class="button">+ 添加支付配置</button></a>
	    </div>
	    </if>
	</div>
	
	<div class="list">
		  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
	      <thead>
		    <tr>
		      <td width="8%"><div align="center">ID</div></td>
		      <td width="12%"><div align="center">支付类型</div></td>
		      <td width="11%"><div align="center">用户账号</div></td>
		      <td width="9%"><div align="center">登录次数</div></td>
		      <td width="13%"><div align="center">创建时间</div></td>
		      <td width="22%"><div align="center">操作</div></td>
	        </tr>
	        </thead>
	        <tbody>
		        <foreach name="data" item="vo">
				    <tr id="del{$vo.id}">
				      <td height="50"><div align="center">{$vo.id}</div></td>
				      <td><div align="center">{$vo.account}</div></td>
				      <td><div align="center">{$vo.group}</div></td>
				      <td><div align="center">{$vo.login_count}</div></td>
				      <td><div align="center">{$vo.create_time|date="Y-m-d H:i:s",###}</div></td>
				      <td><div align="center"><if condition="$vo['id'] neq 1">          
				      <a class="a_button" href="javascript:;" onClick="edit({$vo.id});">编辑</a>
			          <a class="a_button" href="javascript:;" onclick="del({$vo[id]})">删除</a></if>
			          </div></td>
			        </tr>
		        </foreach>
	        </tbody>
	  </table>
	</div>
</block>