<extend name="Public/publicHTML" />
<block name="content"> 

<div class="check_div">
	<input type="checkbox" name="clear" class="cache_checkbox" value="1" /> 后台编译缓存&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="clear" class="cache_checkbox" value="2" /> 前台编译缓存&nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="clear" class="cache_checkbox" value="3" /> 字段缓存&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="clear" class="cache_checkbox" value="4" /> 临时文件缓存
</div>
<div class="footer">
	<button type="button" class="button" onclick="all_checked()">全选</button>
	<button type="button" class="button" onclick="clear_cache()" style="min-width:120px;">一键清空缓存</button>
</div>
<script type="text/javascript">
var DELTE_URL = "{:U('clear_cache')}";
</script>
<script type="text/javascript" src="__JS__/admin/clearCache.js"></script>
</block>
