<ul>
	<li><a href="{:U('Order/orderList')}">
			<i class="ice ice_w"></i>
			<div class="t">待处理订单</div> <span class="number">{$orderUntreateCount}</span>
	</a></li>
	<li><a href="{:U('Goods/goods_list')}"> <i
			class="ice ice_y"></i>
			<div class="t">商品数量</div> <span class="number">{$goodsCount}</span>
	</a></li>
	<li><a href="{:U('Article/article_index')}"> <i
			class="ice ice_f"></i>
			<div class="t">文章数量</div> <span class="number">{$arctileCount}</span>
	</a></li>
	<li><a href="{:U('User/userList')}"> <i class="ice ice_n"></i>
			<div class="t">会员总数</div> <span class="number">{$userCount}</span>
	</a></li>
</ul>