@charset "utf-8";
/* css public */
*{ margin:0; padding:0; list-style:none; font-family:'Microsoft YaHei';}
body{ font-size:14px; color:#555;}
img{border:0;}
a{text-decoration:none; color:#555;}
.clear{ clear:both;}
.input{ min-height:26px; min-width:80px; padding:0 10px; padding-left:3px; font-size:16px;}
.input_edit{ min-width:400px;}
.textarea{ min-width:800px; min-height:200px; font-size:14px;}
.button{ height:32px; line-height:30px; width:212px; background:#6FB737; color:#FFF; padding:0px 20px; cursor:pointer; margin-right:10px; font-size:14px;border:0;}
.button:hover{ background:#146AC1;}
.button:last-child{ margin-right:0px;}
.a_button{ line-height:30px; margin-top:5px; text-align:center; padding:5px 10px; font-size:14px; text-align:center; border:1px solid #6FB737;}
.a_button:hover{ background:#6FB737; color:#FFF;}
.a_button:last-child{ margin-right:0px;}
.round { border-top-left-radius:4px; border-top-right-radius:4px;}

/* table_top */
.table_top{ min-height:40px; padding-top:10px; text-align:center; font-family:Microsoft YaHei; }
.table_top input{ margin-right:10px; width:150px; color:#666;}
.table_top select{ height:30px; font-size:14px; line-height:24px; margin-right:10px;}

.first_checkbox li{ float:none; border-bottom:1px dotted #CCC; overflow:auto; font-size:16px;}
.first_checkbox li:last-child{ border-bottom:0px;}
.first_checkbox li input{ position:relative; top:8px; margin-left:3px; margin-right:5px;}
.first_checkbox li span{ margin-right:25px;}
.first_checkbox li .two_checkbox{ margin-left:30px; margin-bottom:10px;}

/* header */
.header{ min-width:1200px; height:80px; width:100%; background:url(../img/top_bg.png) no-repeat #EFF7FE; border-bottom:3px solid #146AC1;}
.logo{ height:80px; float:left;}
.logo_img{ width:155px; height:56px; background:url(../img/logo.png) no-repeat; position:relative; top:10px; margin-left:20px;}

.top{ min-width:600px; float:right;}
.top_link{ min-width:400px; height:28px; float:right;}
.top_link ul{ float: right;height:30px; line-height:30px; margin-right:10px;}
.top_link ul li{ float:left;}
.top_link ul li a:hover{ text-decoration:underline; color:#F00;}
.top_link .top_link_left{ background: url(../img/botton_01.png) no-repeat left; height: 30px; min-width: 5px; margin: 0 auto;}
.top_link .top_link_bg{ background: url(../img/botton_02.png) repeat-x left;height: 30px; padding: 0px 10px 0px 10px;position: relative;}
.top_link .top_link_bg a{ color:#333;}
.top_link .top_link_right{  background: url(../img/botton_03.png) no-repeat left; height:30px; width:7px;}

.menu{ min-width:1000px; margin-left:162px; margin-top:12px; position:absolute; left:15px;}
.menu ul li{ float:left;}
.menu ul li a{ height:34px; line-height:34px; display:block; margin:5px 4px;padding:0 16px;background:#EFF7FE; color:#333; border:1px solid #CCC;
 border-bottom:0;border-top-left-radius:4px; border-top-right-radius:4px; font-size:16px;}
.menu ul li a:hover{ background:#146AC1; color:#FFF;}
.menu ul li .menu_hover{ background:#146AC1; color:#FFF;}

/* left */
.left{ width:170px; float:left; min-height:300px; background:#EFF7FE;overflow-y: auto;}
.split_line { min-height:300px; float:left; width:7px; background-color: #e7e7e7; position:relative; cursor:pointer;}
.botton_left_hover { background: url(../img/spanline.gif) no-repeat left;}
.left_hidden { height:40px; width:7px; top:50%; margin-top:-20px; position:absolute; cursor:pointer;}

/* sub_menu */
.sub_menu_title{ height:45px;line-height:45px;color:#4976a4;font-weight:bold;padding-left:25px;margin-left:40px;
background: url(../img/sub_menu_title.gif) no-repeat 0px 12px;}
.sub_menu{ width: 170px;background:#FFF; border:1px solid #D0DBE8;overflow-y:auto;}
.sub_menu li a{ height:34px; line-height:34px; display:block; margin-bottom:2px; padding-left:40px; 
background:url(../img/menu_blue.gif) no-repeat 15px 9px; font-size:14px;border-bottom: 1px solid #D0DBE8; border-left:0px;}
.sub_menu li a:hover{ background:url(../img/menu_blue_hover.png) no-repeat #146AC1 15px 10px; color:#FFF;}
.sub_menu li .sub_menu_hover{ background:url(../img/menu_blue_hover.png) no-repeat #146AC1 15px 10px; color:#FFF;}

.web_info{ width:210px; line-height:28px; text-align:center;}

/* right */
.nav{ min-width:800px; min-height:45px; border-bottom:#09F; background:#E4EEFA; border-top:1px solid #E4EEFA;}
.nav_button{ min-width:200px; min-height:40px; float:right; margin-right:30px; font-weight:600;}
.nav_button .button{ margin-top:12px;}
.nav_title{ min-width:300px; float:left;}
.nav_a{ height:38px; line-height:38px; display:block; background:#FFF; text-align:center; padding:0 40px;
 margin-left:22px; margin-top:7px; float:left; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.nav_img{ margin:16px 5px 0 25px; float:left;}

/* list_table */
.list_table{margin-top:3px;}
.list_table tr td{ border-bottom:1px solid #F0F0F0;}
.list_table thead tr td{ height:42px; line-height:40px; background:#E4EEFA; border-right:1px solid #CCC; font-size:16px;}
.list_table thead tr td:last-child{ border-right:0px;}
.list_table tbody tr td{ line-height:22px; border-bottom:1px solid #EFEFEF; margin-bottom:2px;}
.list_table tbody tr:hover{ background:#EFEFEF;}
.list_table tbody tr td .thumb_img{ width:80px; height:60px; padding:5px 0;}
.list_table tbody tr td .thumb_img:hover{ border:1px solid #06C;}

.btn{ cursor:pointer; background:#6FB737; color:#FFF; border:0px; text-align:center; margin:0 10px;}
.btn:hover{ background:#146AC1;}
.check_div{text-align:center; margin-top:20px;}
.check_div .cache_checkbox{position:relative;top:2px;}

/* details */
.details tbody tr:hover td{ background:#FFF;}
.details tbody tr td{ padding:10px 5px; border-top:1px solid #EFEFEF;}
.details tbody tr td:last-child{ border-right:0px;}
.details tbody tr td .label{ font-size:14px;}
.details tbody tr td input{ height:26px; font-size:14px; font-family:"Microsoft YaHei"; padding-left:2px;}
.details tbody tr td select{ min-height:26px;}
.details tbody tr td .checkbox{ margin-left:10px; position:relative; top:8px;}

.footer{ position:fixed; bottom:0; height:45px; background:#D0DBE8; width:100%; text-align:center; padding-top:10px; z-index:9999;}
.Wdate{width:160px; padding-left:3px;}

/* page */
.page {clear: both; color: #555; padding: 20px 0; text-align:center;}
.page a, .page span{border:1px solid #CCC; margin: 0 3px; text-decoration: none; line-height: 22px; padding: 3px 12px; text-align: center;}
.page a:hover, .page span:hover{background-color: #146AC1; color: #FFFFFF; cursor:pointer; text-decoration: none; border:1px solid #146AC1;}
.page span.current{background-color: #146AC1; color: #FFFFFF; cursor:pointer; text-decoration: none; border:1px solid #146AC1;}

.display{display: none;}

.operation{text-align:center;}
/*关键词*/
.tableHot{height:32px; width: 200px;}
.build{display:none; position: absolute;}
.build ul {margin-top:0; width:160px;}

/*商品添加*/
 .guige_input{color:#F00; font-weight:600; width:60px; font-weight:500;}
 #guige span{ margin-right:10px;}
.footer .button {min-width:160px;}
.build ul {margin-top:0; width:160px;}
.font_size{font-size: 12px;}
.cursor{cursor: pointer;}
.wx_100{width: 100px;}
.cou_300{width: 300px;}
.w1{width: 1px;}
.w300{width: 200px !important;}
/*用户等级*/
.user_level {color:#F00; display:none;}
/*会员编辑*/
.user_edit{margin-left: 100px;}
/*优惠劵添加*/
.rxd{color: #F00; display: none;}
.w150{width: 150px!important;}
.w380{width: 380px !important;}
/*css截取省略号*/
.sd {width:200px;line-height:85px;text-align: center;  text-overflow:ellipsis; /*让超出的用...实现 */white-space:nowrap;/*禁止换行*/overflow:hidden;/*超出的隐藏*/ }
.wsd{width: 200px!important;}
.colxs{width: 13%!important; padding:0px!important; }
/*商品添加*/

/*发货地址*/
.w236 {width: 266px !important;}
/*错误提示*/
.error {color:red;}

.nav-spec-img-yc{
 display:none;
}
.nav-spec-img-xs{
 display:block;
}
/*退货描述*/
.returnGoods {width: 400px; height: 120px;}
/*订单统计*/
.user_chart {width: 100%;height: 400px;margin-top: 20px;}
.payment_type_chart {width: 100%;height: 400px;margin-top: 50px;}

/***商品列表**/
.input-order-id{
   width:176px !important;
}

/***会员列表***/
#input-mobile{
 width:168px !important;
}
.cover_reload {
	padding: 6px 10px !important;
}

.cate-name-error{
 color:red;
 display:none;
}
.col-sm-3 input[type="text"] {width: 350px; margin-left: -15px;}
div.goods_xc{width: 100px; text-align: center; margin: 5px; display: inline-block;}
.ajax_return table {table-layout: fixed;}
.ajax_return td {word-wrap:break-word;}