.regiup-header {
	height: 61px;
	padding-top: 38px;
	padding-bottom: 27px;
	padding-left: 300px;
}

.regiup-header .regiup-headerLeft .logo {
	width: 202px;
	height: 61px;
	overflow: hidden;
}

.regiup-header .regiup-headerLeft .logo div {
	width: 100%;
	height: 100%;
	background: url(../img/icon.png) no-repeat 0 -500px;
}

.regiup-header .regiup-headerLeft .logo h2 {
	font-size: 0;
	text-indent: -99999em;
}

.regiup-header .regiup-headerLeft h4 {
	font-size: 26px;
	color: #333;
	font-weight: normal;
	padding-top: 20px;
	padding-left: 20px;
}

.regiup-header .regiup-headerRight {
	padding-top: 34px;
	margin-right: 272px;
}

.regiup-header .regiup-headerRight a {
	color: #d02626;
}

.regiup-header .regiup-headerRight a:hover {
	text-decoration: underline;
}
/*栏目状态*/
.regiup-sectionPt {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.regiup-section .regiup-dataColumn {
	border-bottom: 1px solid #f3f3f3;
	padding: 0 30px;
	padding-left: 300px;
}

.regiup-section .regiup-dataColumn li {
	height: 26px;
	line-height: 26px;
	padding: 15px 27px;
	margin-right: 27px;
	position: relative;
	cursor: pointer;
}

.regiup-section .regiup-dataColumn li.active i {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	background: #d0131a;
}

.regiup-section .regiup-dataColumn li span {
	font-size: 16px;
	color: #666;
}

.regiup-section .regiup-dataColumn li em {
	width: 26px;
	height: 26px;
	background: #ccc;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	color: #fff;
	margin-right: 15px;
}

.regiup-section .regiup-dataColumn li em.active {
	background: #d1191f;
}

.regiup-form-main {
	padding-top: 60px;
	display: none;
}

.regiup-form-main.active {
	display: block;
}

.regiup-form-main .container-ok {
	height: 135px;
	background: #f3f3f3;
	margin-bottom: 307px;
}

.regiup-form-main .container-ok .top {
	color: #000;
	font-size: 20px;
	text-indent: 131px;
	padding-top: 35px;
}

.regiup-form-main .container-ok .bottom {
	padding-left: 133px;
	font-size: 14px;
	color: #333;
	padding-top: 18px;
}

.regiup-form-main .container-ok .bottom b {
	color: #d0131a;
	font-size: 14px;
}

.regiup-form-main .container-ok .bottom span {
	color: #333;
	font-size: 14px;
	padding-right: 50px;
}

.regiup-form-main .container .one .fl {
	width: 500px;
	text-align: right;
	font-size: 16px;
	color: #333;
	line-height: 36px;
}

.regiup-form-main .container .one {
	padding: 17px 0;
}

.regiup-form-main .container .one .fr {
	width: 830px;
	padding-left: 18px;
	height: 38px;
	line-height: 38px;
	color: #666;
	font-size: 16px;
	position: relative;
}

.regiup-form-main .container .one .fr em {
	position: absolute;
	left: 30px;
	top: 0;
	font-size: 14px;
	color: #999;
	line-height: 42px;
}

.regiup-form-main .container .one .fr input.txt {
	width: 246px;
	font-size: 16px;
	color: #666;
	height: 34px;
	border: 1px solid #ccc;
	margin-right: 14px;
	padding-left: 13px;
}

.regiup-form-main .container .one .fr input.txt1 {
	width: 175px;
	font-size: 16px;
	color: #666;
	height: 34px;
	border: 1px solid #ccc;
	margin-right: 14px;
	padding-left: 13px;
}

.regiup-form-main .container .one .fr input.btn {
	width: 115px;
	height: 35px;
	border: none;
	background: #ededed;
	color: #666;
	font-size: 14px;
	margin-right: 14px;
	cursor: pointer;
	border-radius: 5px;
}

.regiup-form-main .container .one .fr a.btn {
	width: 130px;
	height: 35px;
	border: none;
	background: #ededed;
	color: #666;
	font-size: 14px;
	margin-right: 14px;
	border-radius: 5px;
	font-weight: normal;
	display: inline-block;
	line-height: 35px;
	text-align: center;
}

.regiup-form-main .container .one .fr a.btn:hover {
	color: #fff;
	background: #d0131a;
	transition: 1s all;
}

.regiup-form-main .container .one .fr a.btn.hover {
	color: #fff;
	background: #d0131a;
	transition: 1s all;
}

.regiup-form-main .container .one .fr span {
	font-size: 16px;
	color: #999;
}

.regiup-form-main .container .two {
	font-size: 12px;
	color: #666;
	text-indent: 545px;
	background: url(../img/one_07.jpg) no-repeat 520px center;
}

.regiup-form-main .container .three {
	padding-left: 520px;
	padding-bottom:80px;
}

.regiup-form-main .container .three input {
	width: 180px;
	height: 34px;
	border: none;
	background: #d0131a;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-top: 40px;
}

.regi-footer {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 20px;
}

.regi-footer li {
	color: #333;
	font-size: 12px;
	line-height: 24px;
}

.regi-footer li a, .regi-footer li span {
	display: inline-block;
	padding: 0 13px;
	border-right: 1px solid #333;
	color: #333;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
}

.regi-footer li a.active, .regi-footer li span.active {
	border: none;
}

.regi-footer li a:hover {
	color: red;
	text-decoration: underline;
}
