<!DOCTYPE html>
<html <block name="attribute"> </block>>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>{$title}</title>

<link rel="stylesheet" href="__CSS__/css.css?a=1546545633">
<link rel="stylesheet" href="__COMMON__/dist/css/AdminLTE.css">
<script src="__COMMON__/js/jquery-1.11.3.min.js"></script>
<script src="__COMMON__/js/layer/layer.js"></script>
</head>
<body>
<block name="nav"></block>

<block name="content"></block>


<block name="footer"></block>
</body>
</html>
