<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		
		<!--左分类-->
		<div class="ficationFl fl">
			<dl data="false" class="active">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">订单中心</span>
				</dt>
				<dd>
					<a href="{:U('Order/order_myorder')}">·&nbsp;&nbsp;我的订单</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('OrderGroup/order_group')}">·&nbsp;&nbsp;团购订单</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('Order/cancel_order_record')}">·&nbsp;&nbsp;取消订单记录</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">资产中心</span>
				</dt>
				<dd>
					<a href="{:U('Assets/balance')}">·&nbsp;&nbsp;余额</a>
				</dd>
				<dd>
					<a href="{:U('Cart/goods')}">·&nbsp;&nbsp;我的购物车</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myCollection')}">·&nbsp;&nbsp;我的收藏</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myComment')}">·&nbsp;&nbsp;我的评价</a>
				</dd>
				<dd>
					<a href="{:U('Assets/coupon')}">·&nbsp;&nbsp;优惠券</a>
				</dd>
				<dd>
					<a href="{:U('Assets/integral')}">·&nbsp;&nbsp;积分</a>
				</dd>
				<dd>
					<a href="{:U('Assets/punkte')}">·&nbsp;&nbsp;积分兑换</a>
				</dd>
				<dd>
					<a href="{:U('Assets/gekauft')}">·&nbsp;&nbsp;我购买过的产品</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myTracks')}">·&nbsp;&nbsp;浏览足迹</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em> 
					<span class="fl">财务中心</span>
				</dt>
				<dd>
					<a href="{:U('Finance/my_invoice')}">·&nbsp;&nbsp;我的发票</a>
				</dd>				
				<if condition="(member_status eq '1') Or (member_status eq '2')">
					<dd>
						<a href="{:U('Finance/my_shipment')}">·&nbsp;&nbsp;我的发货</a>
					</dd>
					<dd>
						<a href="{:U('Finance/my_payment')}">·&nbsp;&nbsp;我的付款</a>
					</dd>
					<dd>
						<a href="{:U('Finance/other_orders')}">·&nbsp;&nbsp;其他订单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/closed_order')}">·&nbsp;&nbsp;已出兑账单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/outstanding_order')}">·&nbsp;&nbsp;未出兑账单</a>
					</dd>
				</if>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">特色业务</span>
				</dt>
				<dd>
					<a href="{:U('SpecialBusiness/enterprise_group')}">·&nbsp;&nbsp;企业团购</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/purchase_requisition')}">·&nbsp;&nbsp;采购需求单</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/join_application')}">·&nbsp;&nbsp;加盟申请</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/printer_rental')}">·&nbsp;&nbsp;打印机租赁</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">商品中心</span>
				</dt>
				<dd>
					<a href="{:U('GoodsCenter/goods_search')}">·&nbsp;&nbsp;商品搜索</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">客户服务</span>
				</dt>
				<dd>
					<a href="{:U('Service/return_repair')}">·&nbsp;&nbsp;返修退换货</a>
				</dd>
				<dd>
					<a href="{:U('Service/after_sale')}">·&nbsp;&nbsp;售后管理</a>
				</dd>
				<dd>
					<a href="{:U('Service/advisoryReply')}">·&nbsp;&nbsp;咨询回复</a>
				</dd>
				<dd>
					<a href="{:U('Service/opinion')}">·&nbsp;&nbsp;意见建议</a>
				</dd>
				<dd>
					<a href="{:U('Service/repair_choice')}">·&nbsp;&nbsp;上门维修服务</a>
				</dd>
				<dd>
					<a href="{:U('Service/announcement')}">·&nbsp;&nbsp;网站公告</a>
				</dd>
				<dd>
					<a href="{:U('Service/report_center')}">·&nbsp;&nbsp;投诉中心</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">用户设置</span>
				</dt>
				<dd>
					<a href="{:U('UserSet/address')}">·&nbsp;&nbsp;收货地址</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('UserSet/enterprise')}">·&nbsp;&nbsp;企业信息</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('UserSet/security')}">·&nbsp;&nbsp;安全设置</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">个人资料</span>
				</dt>
				<dd>
					<a href="{:U('UserData/user_data')}">·&nbsp;&nbsp;个人资料</a>
				</dd>
				<dd>
					<a href="{:U('UserData/bind_account')}">·&nbsp;&nbsp;账号绑定</a>
				</dd>
			</dl>
		</div>
		<!--内容-->
		<div class="mordrMain fr">
			<div class="title clearfix">
				<ul class="clearfix fl">
					<li class="fl hover"><a href="javascript:;">团购订单 (<i>{$count}</i>)</a></li>
				</ul>
			</div>
			<!--订单搜索范围查找-->
			<div class="rangeSearch">
			</div>

			<!--宝贝交易状态-->
			<ol class="clearfix tradingStatus">
				<li class="fl one">宝贝</li>
				<li class="fl two">单价</li>
				<li class="fl three">数量</li>
				<li class="fl four">商品操作</li>
				<li class="fl four">实付款</li>
				<li class="fl five">交易状态</li>
				<li class="fl four">交易操作</li>
			</ol>
			<!--page-->
			<div class="" style="margin-top:20px;">  
			</div>
			<!--订单-->
			<volist name="goods" id="vo">
				<div class="myderCentent" id="del{$vo.id}">
					<div class="ctitle clearfix">
						<label class="fl">
							<input type="checkbox">
							<span>{$vo.add_time|date="Y-m-d",###}</span>
						</label>
						<span class="fl sPent">
							<em>订单号：</em>
							<em>{$vo.order_sn_id}</em>
						</span>
						<if	condition="$vo.status eq '2'">
							<i class="fr del" date="{$vo.id}"></i>
						</if>
					</div>
					<div class="con clearfix">
						<div class="fl clearfix conFl">
						    <volist name="vo.goods" id="goods">
								<div class="conLoop">
									<div class="one clearfix fl">
										<div class="imgsPt fl">
											<img src="__SERVER__/{$goods.images}">
										</div>
										<div class="conRight fl">
											<a href="javascript:;">{$goods.title}</a>
											<p>商品编号：{$goods.goods_id}</p>
										</div>
									</div>
									<div class="two fl">￥{$goods.goods_price}</div>
									<div class="three fl">{$goods.goods_num}</div>
									<div class="four fl">
										<a href="javascript:;" class="hover">操作关闭</a>
									</div>
								</div>
							</volist>
						</div>
						<if condition="$vo.status eq '0'">
							<div class="fr clearfix conFr">
								<div class="four fl">
									<p>￥{$vo.price_num}</p>
									<p>(含运费：￥{$vo.freights})</p>
								</div>
								<div class="five fl">
									<p>等待买家付款</p>
									<a href="{:U('OrderGroup/details',array('order_id'=>$vo['id']))}" class="hover">订单详情</a>
								</div>
								<div class="five fl details">
									<a href="javascript:;" class="payment">待付款</a><br>
									<a href="javascript:;" class="hover cancel" data="{$vo['id']}">取消订单</a>
								</div>
							</div>
						</if>
						<if	condition="$vo.status eq '1'">
						    <div class="fr clearfix conFr">
								<div class="four fl">
									<p>￥{$vo.price_num}</p>
									<p>(含运费：￥{$vo.freights})</p>
								</div>
								<div class="five fl">
									<p>等待用户兑换</p>
									<a href="{:U('OrderGroup/details',array('order_id'=>$vo['id']))}" class="hover">订单详情</a>
								</div>
								<div class="five fl details">
									<a href="javascript:;" class="exchange">待兑换</a><br>
								</div>
							</div>
						</if>
						<if	condition="$vo.status eq '2'">
					        <div class="fr clearfix conFr">
								<div class="four fl">
									<p>￥{$vo.price_num}</p>
									<p>(含运费：￥{$vo.freights})</p>
								</div>
								<div class="five fl">
									<p>订单兑换完成</p>
									<a href="{:U('OrderGroup/details',array('order_id'=>$vo['id']))}" class="hover">订单详情</a>
								</div>
								<div class="five fl details">
									<a href="javascript:;" class="convertible">已兑换</a><br>
								</div>
							</div>
						</if>
					</div>
				</div>
			</volist>
		</div>
		<div class="page">{$page}</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
<script src="__JS__/order/order_group.js"></script>
<!-- <script src="js/header.js"></script> -->
<script src="__JS__/groupPurchase.js"></script>
<script src="__JS__/Calendar.js"></script>
</block>