<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Common/Layer/layer.js"></script>
<script src="__PUBLIC__/Common/Layer/extend/layer.ext.js"></script>
<script src="__PUBLIC__/Common/My97Date/WdatePicker.js"></script>

<script>
//查看详情
	function look_detail(id){
		parent.layer.open({
			type: 2,
			title: '订单',
			shadeClose: true,
			shade: 0.5,
			maxmin: true,
			area: ['80%', '90%'],
			content: "{:U('Goods/order_lst_detail')}?id="+id //iframe的url
		});
	}
	function refresh(){
		window.location.href="{:U('Goods/orders_list')}"
	}
</script>
</head>
<body>
<style>
	.tr_content {
		line-height: 32px;
		height:32px;
		font-size: 14px;
	}
	
	.layui-layer-title{
		font-weight:bold;
	}
</style>
<div class="nav">
	<div class="nav_title">
    	<h4><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif" /><span class="nav_a">理财专区</span></h4>
    </div>
</div>

<form action="__SELF__" method="get">
	<div class="search" style=" line-height:50px; padding-left:30px; margin-top:3px;">
		订单编号：<input type="text" class="input" name="orders_num" value="{$_GET['orders_num']}" maxlength="30" size="20" />
		  &nbsp;&nbsp;
		 手机号： <input type="text" class="input" name="mobile" value="{$_GET['mobile']}" maxlength="30" size="20" />
		 &nbsp;&nbsp;
		<button type="submit" class="button">查 询</button>
	</div>
</form>

<div class="list">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
      <thead>
	    <tr>
	      <td width="9%"><div align="center">序号</div></td>
	      <td width="14%"><div align="center">订单编号</div></td>
	      <td width="10%"><div align="center">客户姓名</div></td>
	      <td width="10%"><div align="center">手机号</div></td>
	      <td width="10%"><div align="center">支付状态</div></td>
	      <td width="12%"><div align="center">购买时间</div></td>
	      <td width="8%"><div align="center">年收益率</div></td>
		  <td width="14%"><div align="center">购买期限</div></td>
		  <td><div align="center">操作</div></td>

        </tr>
        </thead>
        <tbody>
	  		<tr class="tr_content" onmouseover="$(this).css('color','red')" onmouseleave="$(this).css('color','#555')">
	  		<!-- <tr id="del{$row.id}"> -->
				<td width="9%" style="height: 40px"><div align="center">{$i}</div></td>
				<td width="14%"><div align="center">{$row.orders_num}</div></td>
				<td><div align="center">{$row.realname}</td>
				<td><div align="center">{$row.mobile}</div></td>

				<td width="10%">
				   <div align="center"> 已支付 </div>
				</td>
				<td width="10%"><div align="center">{$row.buy_time|date='Y-m-d H:i:s',###}</div></td>
				<td width="10%">
					<div align="center">{$row.year}</div>
				</td>
				<td width="10%"><div align="center">{$row.year}</div></td>
				<td width="12%">
				<div align="center">
				<a href="javascript:void (0);" style=" background-color: #146AC1; padding: 8px; border-radius: 4px; color: #ffffff" onclick="look_detail({$row.id})">详情</a>
				<!-- <a class="a_button" href="javascript:;" onclick="del({$row[id]})">删除</a> -->
				</div>
				</td>
			</tr>
        </tbody>
<script>
	function show_info(num){
		parent.layer.open({
			type: 2,
			shadeClose: true,
			shade: 0.2,
			area: ['800px', '480px'],
			title: '查询快递单号',
			content: 'http://www.zzumall.com/kuaidi/index.php?num='+num,
		});
	}
</script>
  </table>
</div>

<!-- 分页 -->
<div class="page">
{$page}
</div>


</body>
</html>
