<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="UTF-8">
    <title>{$intnetTitle}</title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <script src="__CDN_JQ__"></script>
    <script src="__LAYER__/layer.js"></script>
</head>
<body>

	<div class="home-section">
		<include file="Public/top"/>
		<include file="Public/search"/>
		
		<include file="Public/classByGoodsHtml"/>
		
		<block name="content">
		
		
		</block>
		
		<include file="Public/rightHtml"/>
	</div>
	<include file="Public/indexFooter"/>
</body>