		
		
		<div class="ad_back" style="background-color: #f5f5f5;">
			<div class="w1210">
				<div class="ad_son1 fl pc_overflow ad_son_first">
					<p class="fl"><img src="__PUBLIC__/Home/img/ico20.png"/></p>
					<span class="fl">品类齐全 轻松购物</span>
				</div>
				<div class="ad_son1 fl ad_margin">
					<p class="fl"><img src="__PUBLIC__/Home/img/ico21.png"/></p>
					<span class="fl">品类齐全 轻松购物</span>
				</div>
				<div class="ad_son1 fl ad_margin">
					<p class="fl"><img src="__PUBLIC__/Home/img/ico22.png"/></p>
					<span class="fl">品类齐全 轻松购物</span>
				</div>
				<div class="ad_son1 fl ad_margin">
					<p class="fl"><img src="__PUBLIC__/Home/img/ico23.png"/></p>
					<span class="fl">品类齐全 轻松购物</span>
				</div>
			</div>
		</div>
		
		
		<div style="clear:both;"></div>
		
		<div class="zhinan pc_overflow" style="width:1000px; margin:0 auto; margin-top:30px;">
			<div class="zhinan_son fl">
				<ul>
					<li class="z_title"><a href="javascript:;">新手指南</a></li>
					<li><a href="/index.php/Home/Index/single_details.html?id=10">会员注册</a></li><li><a href="/index.php/Home/Index/single_details.html?id=11">会员积分计划</a></li><li><a href="/index.php/Home/Index/single_details.html?id=12">找回密码</a></li><li><a href="/index.php/Home/Index/single_details.html?id=13">订单查询</a></li><li><a href="/index.php/Home/Index/single_details.html?id=14">常见热点问题</a></li>				</ul>
			</div>
			
			<div class="zhinan_son fl">
				<ul>
					<li class="z_title"><a href="javascript:;">购物指南</a></li>

					<li><a href="/index.php/Home/Index/single_details.html?id=15">购物流程</a></li><li><a href="/index.php/Home/Index/single_details.html?id=16">配送查询</a></li><li><a href="/index.php/Home/Index/single_details.html?id=17">验货验收</a></li><li><a href="/index.php/Home/Index/single_details.html?id=18">售后咨询</a></li><li><a href="/index.php/Home/Index/single_details.html?id=19">退款说明</a></li>
				</ul>
			</div>
			<div class="zhinan_son fl">
				<ul>
					<li class="z_title"><a href="javascript:;">支付方式</a></li>
					<li><a href="/index.php/Home/Index/single_details.html?id=20">银联在线支付</a></li><li><a href="/index.php/Home/Index/single_details.html?id=21">支付宝支付</a></li><li><a href="/index.php/Home/Index/single_details.html?id=22">微信支付</a></li><li><a href="/index.php/Home/Index/single_details.html?id=23">积分支付</a></li>
				</ul>
			</div>
			<div class="zhinan_son fl">
				<ul>
					<li class="z_title"><a href="javascript:;">客服中心</a></li>
					<li><a href="/index.php/Home/Index/single_details.html?id=24">联系客服</a></li><li><a href="/index.php/Home/Index/single_details.html?id=25">举报投拆</a></li><li><a href="/index.php/Home/Index/single_details.html?id=26">服务中心</a></li>
				</ul>

			</div>

		</div>
		
		
		
		
	<div style="clear:both;"></div>	
		
		
		
		
		<div class="w1210"style="margin-top: 40px;  border-top: 1px solid #CCCCCC;">
			<div class="bootom_lst" style="padding-top: 20px ;">
				<ul>
					<li class="fl"><a href="">关于我们</a></li>
					<li class="fl">|<a href=""> 联系我们 </a></li>
					<li class="fl">|<a href=""> 商家入驻 </a></li>
					<li class="fl">|<a href=""> 营销中心 </a></li>
					<li class="fl">|<a href="javascript:;" onclick="make_qr_code()"> 手机掌中游 </a></li>
					<li class="fl">|<a href=""> 友情链接 </a></li>
					<li class="fl">|<a href=""> 销售联盟 </a></li>
					<li class="fl">|<a href="//m.kuaidi100.com" target="_blank">快递查询</a></li>
					<li class="fl">|<a href=""> contact us </a></li>
				</ul>
			</div>
		</div>

		<div style="clear:both;"></div>
		<div class="w1210" style="text-align: center; margin-top:10px;">
			版权所有：亿速网络股份有限公司 
		</div>


<link href="__PUBLIC__/Home/css/sucaijiayuan.css" rel="stylesheet">
<script src="__PUBLIC__/Home/js/sucaijiayuan.js"></script>
<script src="__PUBLIC__/Home/js/floor.js"></script>
<!-- <div id="top"></div> -->


<script>

$(function(){
  $("#top").click(function() {
      $("html,body").animate({scrollTop:0}, 500);
  }); 
 })
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b617365240820bd7c4c96bd00b4a1b29";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>	

<div style="text-align:center;" id="renzheng">	
	<a id='___szfw_logo___' href='https://credit.szfw.org/CX20160711016218290383.html' target='_blank'><img src='http://icon.szfw.org/cert.png' border='0' /></a>
<script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
<script src="http://kxlogo.knet.cn/seallogo.dll?sn=e16080931011664418tzqg000000&size=0"></script>

</div>
<style>
#renzheng img{width:114px; height:41px;}
</style>