<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<style>
     li{
         list-style: none;
     	margin-left: 77px;
     }
    .ul1 {
        float: left;
    }
     .ul1 .li2{
         text-align: center;
     }

</style>
<body>

<div>
    <div  style="margin: 0 auto ; width:1000px;">
        <ul class="ul1">
            <li><img src="__PUBLIC__/Home/img/fwwz.png" alt="" style="width: 200px; "></li>
            <li class="li2">访问手机网站</li>
        </ul>
        <ul class="ul1">
            <li><img src="__PUBLIC__/Home/img/gzh.jpg" alt="" style="width: 200px;  "></li>
            <li  class="li2">微信公众号</li>
        </ul>
       <!--  <ul class="ul1">
            <li><img src="__PUBLIC__/Home/img/xzapp.png" alt="" style="width: 200px;  "></li>
            <li  class="li2">下载手机APP(安卓端)</li>
        </ul> -->
    </div>
</div>

</body>
</html>