
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td style="width: 1px;" class="text-center"><input
					type="checkbox"
					onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
				</td>
				<foreach name="notes" key="key" item="value">
				<td class="text-center">{$value}</td>
				</foreach>
				<td class="text-center">操作</td>
			</tr>
		</thead>
		<tbody>
			<if condition="!empty($data['data'])">
				<foreach name="data['data']" item="list">
				<tr class="trOwn">
					<td class="text-center"><input type="checkbox"
						name="selected[]" value="{$list.comment_id}"></td>
					<td class="text-left"><a target="_blank"
						href="{:U('Home/Goods/goodsDetails',array('id'=>$list[$model::$goodsId_d]))}">{$list[$goodsModel::$title_d]}</a></td>
					<td class="text-center">{$list[$model::$addTime_d]|date='Y-m-d H:i:s',###}</td>
					<td class="text-left">{$list[$model::$content_d]}</td>
					<td class="text-center"><img width="20" height="20"
						src="__COMMON__/img/<if condition='$list[$model::$isShow_d] eq 1'>yes.png<else />cancel.png</if>"
						onclick="Tool.isShow(this, '{:U('isShow')}')" />
						<input type="hidden" value="{$list[$model::$id_d]}" name="{$model::$id_d}"/>
						<input type="hidden" value="{$list[$model::$isShow_d]}" falg="1" name="{$model::$isShow_d}"/>
					</td>
					<td class="text-center">{$list[$model::$userId_d]}</td>
					<td class="text-center">{$list[$model::$ip_d]}</td>
					<td class="text-center"><a
						href="{:U('consulationInfo',array('id'=>$list[$model::$id_d]))}"
						data-toggle="tooltip" title="" class="btn btn-primary"
						data-original-title="编辑"><i class="fa fa-eye"></i></a> <a
						href="javascript:void(0);"
						onclick="Consulation.deleteCon({$list[$model::$id_d]}, '{:U('deleteConsulation')}', this)" id="button-delete6"
						data-toggle="tooltip" title="" class="btn btn-danger"
						data-original-title="删除"><i class="fa fa-trash-o"></i></a></td>
				</tr>
				</foreach>
			</if>
		</tbody>
	</table>
	<select name="operate" id="operate">
		<option value="0">操作选择</option>
		<option value="show">显示</option>
		<option value="hide">隐藏</option>
		<option value="del">删除</option>
	</select>
	<button onclick="op()">确定</button>
	<form id="operator" method="post">
		<input type="hidden" name="selected"> <input type="hidden" name="type">
	</form>
</div>
<div class="row">
	<div class="col-sm-6 text-left"></div>
	<div class="col-sm-6 text-right">{$data.page}</div>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        Consulation.ajaxGetHtml("{:U('ajaxGetCoulatation')}", 'searchForm', page);
    });
</script>