<extend name="Public/publicHTML" />

<block name='content'>
<link rel="stylesheet" href="__COMMON__/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="__COMMON__/bootstrap/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="__COMMON__/dist/css/AdminLTE.min.css" />
	
<div class="wrapper">
	<section class="content">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-list"></i> 咨询回复 <a data-original-title="返回"
							class="btn btn-default pull-right" style="margin-top: -8px;"
							title="" data-toggle="tooltip" href="javascript:history.go(-1)"><i
							class="fa fa-reply"></i></a>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<!-- DIRECT CHAT PRIMARY -->
							<div class="box direct-chat direct-chat-primary">
								<div class="box-header with-border">
									<h3 class="box-title">用户咨询</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<!-- Conversations are loaded here -->
									<div class="">
										<!-- Message. Default to the left -->
										<div class="direct-chat-msg">
											<div class="direct-chat-info clearfix">
												<span class="direct-chat-name pull-left"> <!--用户名 -->
												</span> <span class="direct-chat-timestamp pull-right">{$comment[$model::$addTime_d]|date="Y-m-d
													H:i",###}</span>
											</div>
											<!-- /.direct-chat-info -->
											<img alt="{$comment[$model::$userId_d]}"
												width="40"
												height="40"
												src="__IMG__/header.png"
												class="direct-chat-img">
											<!-- /.direct-chat-img -->
											<div class="direct-chat-text">{$comment[$model::$content_d]}</div>
											<!-- /.direct-chat-text -->
										</div>
										<!-- /.direct-chat-msg -->
										<if condition="!empty($reply)">
											<foreach name="reply" item="v">
												<div class="direct-chat-msg right">
													<div class="direct-chat-info clearfix">
														<span class="direct-chat-name pull-right"> <!--管理员 -->
														</span> <span class="direct-chat-timestamp pull-left">{$v[$model::$addTime_d]|date="Y-m-d
															H:i",###}</span>
													</div>
													<!-- /.direct-chat-info -->
													<img alt="管理员" src="__IMG__/header.png"
														class="direct-chat-img">
													<!-- /.direct-chat-img -->
													<div class="direct-chat-text">{$v[$model::$content_d]}</div>
												</div>
											</foreach>
										</if>
									</div>
									<!-- /.direct-chat-pane -->
								</div>
								<!-- /.box-body -->
								<!-- /.box-footer-->
							</div>
							<!--/.direct-chat -->
						</div>
						<div class="col-md-2"></div>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-md-8">
										<form method="post" class="formIdy">
											<textarea class="form-control textsd" rows="3" placeholder="请输入回复内容"
												name="{$model::$content_d}"></textarea>
											<input class="textsd" type="hidden" name="{$model::$parentId_d}" value="{$comment[$model::$id_d]}"/>
											<input class="textsd" type="hidden" name="{$model::$goodsId_d}"  value="{$comment[$model::$goodsId_d]}"/>
											<div class="form-group">
												<button type="button" onclick ="Message.addMessage('{:U('addReply')}', this)"
													class="btn btn-primary pull-right margin">回复</button>
											</div>
										</form>
									</div>
									<div class="col-md-2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<script type="text/javascript" src="__COMMON__/js/alert.js"></script>
<script type="text/javascript" src="__JS__/comment/message.js"></script>
</block>