<extend name="Public/indexEdit"/>
<block name="banner">
    <input type="hidden" id="nav_banner_url" value="{:U('Base/navBanner')}"/>
    <div class="brasp-banner w">
        <ul class="solid">
        </ul>
        <div class="page"></div>
        <a href="javascript:;" class="btn-left"><</a>
        <a href="javascript:;" class="btn-right">></a>
    </div>
</block>
<block name="content">
	<!--当前位置-->
	<div class="paper-current-main w">
		当前位置：<span>首页</span> > <span>招商加盟</span>
	</div>
	<div class="join-centent w clearfix">
		<dl class="fl join-cententFl">
			<dt>
				<h2>招商加盟</h2>
				<h5>JOIN INVESTMENT</h5>
			</dt>
			<dd class="clearfix active">
				<em class="fl"></em>
				<span class="fl">项目简介</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">发展历程</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">连锁模式</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">六大优势</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">八大利益</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">加盟流程</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">加盟问答</span>
			</dd>
			<dd class="clearfix">
				<em class="fl"></em>
				<span class="fl">我要加盟</span>
			</dd>
		</dl>
		<div class="fr join-cententFr">
			<div class="join-cententFr-child active">
				<div class="join-cententFr-title">
					<span>项目介绍</span>
				</div>
				<dl>
					<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>
					<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>
					<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>
				</dl>
			</div>
			<!--<div class="join-cententFr-child">-->
				<!--<div class="join-cententFr-title">-->
					<!--<span>发展历程</span>-->
				<!--</div>-->
				<!--<dl>-->
					<!--<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>-->
					<!--<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>-->
					<!--<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>-->
				<!--</dl>-->
			<!--</div>-->
			<!--<div class="join-cententFr-child">-->
				<!--<div class="join-cententFr-title">-->
					<!--<span>连锁模式</span>-->
				<!--</div>-->
				<!--<dl>-->
					<!--<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>-->
					<!--<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>-->
					<!--<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>-->
				<!--</dl>-->
			<!--</div>-->
			<!--<div class="join-cententFr-child">-->
				<!--<div class="join-cententFr-title">-->
					<!--<span>六大优势</span>-->
				<!--</div>-->
				<!--<dl>-->
					<!--<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>-->
					<!--<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>-->
					<!--<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>-->
				<!--</dl>-->
			<!--</div>-->
			<div class="join-cententFr-child">
				<div class="join-cententFr-title">
					<span>八大利益</span>
				</div>
				<dl>
					<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>
					<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>
					<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>
				</dl>
			</div>
			<div class="join-cententFr-child">
				<div class="join-cententFr-title">
					<span>加盟流程</span>
				</div>
				<dl>
					<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>
					<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>
					<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>
				</dl>
			</div>
			<div class="join-cententFr-child">
				<div class="join-cententFr-title">
					<span>加盟问答</span>
				</div>
				<dl>
					<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>
					<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>
					<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>
				</dl>
			</div>
			<div class="join-cententFr-child">
				<div class="join-cententFr-title">
					<span>我要加盟</span>
				</div>
				<dl>
					<dt>亿速网络用品商城——品牌办公用品一站式采购平台</dt>
					<dd>志存高远，锐意进取，本公司以良好的信誉为基础，秉承稳固与发展、求实与创新的精神，以优质的产品和出色的服务，致力于为广大客户提供品质最优、服务最好、价格最具竞争力的办公用品服务，为客户奉献着自己的热情和力量，营造健康、和谐、安全的办公用品购物环境。</dd>
					<dd>亿速网络竭诚为您高效的工作提供细致周到的服务，让您放心、省心、舒心。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<script src="__JS__/expansion.js"></script>
<script src="__JS__/header.js"></script>
<script src="__JS__/latestPromotion.js"></script>
<script src="__JS__/navbannerurl.js"></script>
<script>
	$('.join-centent .join-cententFl dd').on('click',function(){
		$('.join-centent .join-cententFl dd').removeClass('active').eq($(this).index()-1).addClass('active');
		$('.join-centent .join-cententFr .join-cententFr-child').removeClass('active').eq($(this).index()-1).addClass('active');
	})
</script>
</block>