<ul class="home-tab">
	<li>
		<em></em>
		<span>{$z_count?$z_count:0}</span>
		<div class="userTips">
			<p>已过期的优惠券：<b>{$OverdueCoupon?$OverdueCoupon:0}</b></p>
			<p>使用过的优惠券：<b>{$UsedCoupon?$UsedCoupon:0}</b></p>
			<p>可以使用的优惠券：<b>{$UsableCoupon?$UsableCoupon:0}</b></p>
		</div>
	</li>
	<li>		
		<a  class="kefu-font" <if condition="$userId['user_name']==null">href='{:U('public/login')}'<else/>href='javascript:;' onclick='easemobim.bind({
        //请使用自己的租户ID
         tenantId: "39449",
         //是否隐藏小的悬浮按钮
         hide: true
        })'</if>>客服</a>
		<div class="userTips one">

		</div>
	</li>
	<li>
		物流
		<div class="userTips one">
			<iframe name="kuaidi100" src="https://www.kuaidi100.com/frame/app/index.html?canvas_pos=600" width="600" height="360" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>

		</div>
	</li>
	<li>
		<a href="{:U('Cart/goods')}" class="kefu-font">购物车</a>	
	</li>	
	<li><a  class="kefu-font" <if condition="$userId['user_name']==null">href='{:U('public/login')}'<else/>href='javascript:;' onclick='easemobim.bind({
        //请使用自己的租户ID
         tenantId: "39449",
         //是否隐藏小的悬浮按钮
         hide: true
        })'</if>>投诉</a>
		<div class="userTips one">

		</div>
	</li>
		<script>
				window.easemobim = window.easemobim || {};
				var trueName = '{$userId.user_name}';
				easemobim.config = {
					//访客信息，以下参数支持变量
					visitor: {
						trueName:trueName,
						qq: '',
						phone:trueName,
						companyName: '',
						userNickname:trueName,
						description: '',
						email: ''
					},
				};
			</script>
			<script src='//kefu.easemob.com/webim/easemob.js'></script>
	<li>关闭</li>
</ul>
<!--一键到顶-->
<div class="hm-go-top-parent">
	<div class="hm-go-top active"></div>
	<div class="hm-tit-top">顶部</div>
</div>