<!--二级头部-->
	<div class="public-header1">
		<div class="center-parent w clearfix">
			<!--logo-->
			<a href="javscript:;" class="logo fl">
				<h2>亿速网络</h2>
				<img src="__IMG__/logo.png">
			</a>
			<!--返回主页-->
			<div class="myHome fl">
				<h2>我的商城</h2>
				<a href="javascript:;">返回商城首页</a>
			</div>
			<!--导航-->
			<ul class="nav clearfix fl">
				<li class="fl">
					<a href="javascript:;">首页</a>
				</li>
				<li class="fl clearfix">
					<a href="javascript:;" class="fl">账户设置</a>
					<em class="fl"></em>
					<div class="like clearfix">
						<em></em>
						<dl class="fl">
							<dt>安全设置</dt>
							<dd><a href="{:U('UserSet/password_edit')}">修改登录密码</a></dd>
							<dd><a href="{:U('UserSet/bound_phone')}">手机绑定</a></dd>
							<dd><a href="{:U('UserSet/security_question')}">密保问题设置</a></dd>
						</dl>
						<dl class="fl">
							<dt>个人资料</dt>
							<dd><a href="{:U('UserSet/address')}">收货地址</a></dd>
							<dd><a href="{:U('UserData/user_data')}">修改头像、昵称</a></dd>
						</dl>
						<dl class="fl">
							<dt>账号绑定</dt>
							<dd><a href="javascript:;">支付宝绑定</a></dd>
							<dd><a href="javascript:;">银行卡绑定</a></dd>
							<dd><a href="javascript:;">微信绑定</a></dd>
							<dd><a href="javascript:;">微博绑定</a></dd>
							<dd><a href="javascript:;">分享绑定</a></dd>
						</dl>
					</div>
				</li>
				<li class="fl clearfix">
					<a href="javascript:;" class="fl">社区</a>
					<em class="fl"></em>
				</li>
				<li class="fl">
					<a href="javascript:;">消息</a>
					<i>2</i>
				</li>
			</ul>
			<!--购物车and搜索框-->
			<div class="mainRight fr clearfix">
				<!--搜索框-->
				<div class="fl search clearfix">
					<input type="text" class="fl" placeholder="透明按扣袋">
					<input type="button" value="搜索" class="fl btn">
				</div>
				<!--购物车-->
				<div class="home-shopping hover fl">
					<div class="home-shopping-top clearfix">
						<em class="fl"></em>
						<span class="fl">我的购物车</span>
						<i class="fl"></i>
					</div>
					<div class="home-individual clearfix">
						<span class="fl"></span>
						<em class="fl">0</em>
						<i></i>
					</div>
					<dl class="home-shopping-up">
						<dt>购物车没有任何东西，赶紧选吧。</dt>
						<dd class="clearfix active">
							<a href="javscript:;" class="fl">
								<img src="__IMG__/con-two.jpg" alt="">
							</a>
							<a href="javascript:;" class="fl con">
								华中保暖季，9.9元秒神器！华中保暖季，9.9元秒神器！
							</a>
							<strong class="fl">
								<span>￥999.00</span>x1<br>
								<a href="javascript:;">删除</a>
							</strong>
						</dd>	
					</dl>
				</div>
			</div>
		</div>
	</div>