<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="regod-section clearfix">
		
		<!--位置-->
		<div class="thisPosition w">
			<span>您的位置：</span><b>首页</b> > <b>我的商城</b> > <b>我的订单</b> > <b>申请售后</b>
		</div>
		<!--申请状态-->
		<div class="applyData clearfix">
			<div class="fl refund parent active">
				<h2>买家申请退款</h2>
				<div class="col clearfix">
					<em class="fl">1</em>
					<span class="fl">
						<b></b>
					</span>
				</div>
			</div>
			<div class="fl center parent active">
				<h2>商家处理退款申请</h2>
				<div class="col clearfix">
					<em class="fl">2</em>
					<span class="fl">
						<b></b>
					</span>
				</div>
			</div>
			<div class="fl complete parent">
				<h2>退款完成</h2>
				<div class="col clearfix">
					<span class="fl">
						<b></b>
					</span>
					<em class="fl">3</em>
				</div>
			</div>
		</div>
		<!--退货商品内容-->
		<div class="layout-main clearfix w">
			<div class="fl column-sub">
				<dl>
					<dt>退款/退货商品</dt>
					<dd>
						<div class="refund-item-info clearfix">
							<div class="imgParent fl">
								<a href="javascript:;"><img src="{$goods.images}" width="50" height="50"></a>
							</div>
							<div class="conFeft fr">
								<p>
									<a href="javascript:;">
										{$goods.title}
									</a>
								</p>
							</div>
						</div>
						<ul class="refund-info-bot">
							<li class="clearfix">
								<span class="fl">单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</span>
								<em class="fl">￥{$goods.goods_price}</em>
								<div class="fr"><i>x{$goods.goods_num}</i>(数量)</div>
							</li>
							<li class="clearfix">
								<span class="fl">小&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span>
								<em class="fl active">￥{$goods.goods_price_sum}</em>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="order">
					<dt>订单信息</dt>
					<dd>
						<p>
							<span>订单编号：</span>
							<em>{$order.id}</em>
						</p>
						<p>
							<span>运      费：</span>
							<em>￥{$order.shipping_monery}</em>
						</p>
						<p>
							<span>总  优 惠：</span>
							<em>-￥{$coupon.money}</em>
						</p>
						<p>
							<span>总      计：</span>
							<em class="active">￥{$order.price_sum}</em>
						</p>
						<p>
							<span>成交时间：</span>
							<em>{$order.create_time|date="Y-m-d H:i;s",###}</em>
						</p>

					</dd>
				</dl>
			</div>
			<!--等待商家处理-->
			<div class="fl waitFor-main">
				<dl class="title">
					<dt>等待商家处理退款申请</dt>
					<dd>·如果商家同意，退款申请将达成并退款至你得支付宝或银行卡中</dd>
					<dd>·如果商家拒绝，将需要您修改申请</dd>
					<!-- <dd>&nbsp;如果<b>4</b>天<b>23</b>时<b>42</b>分<b>17</b>秒内商家未处理，退款申请将达成并退款至你支付宝账号或银行卡中</dd> -->
				</dl>
				<!-- <div class="or">
					<h2>你还可以</h2>
					<a href="javascript:;">修改退款申请</a>
					<a href="javascript:;">撤销售后申请</a>
				</div> -->
			</div>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
	
<script>
	//导航隐藏层弹出
	$('.public-header1 .center-parent .nav li').on('mouseenter',function(){
		$('.public-header1 .center-parent .nav li').eq($(this).index()).addClass('active');
	}).on('mouseleave',function(){
		$('.public-header1 .center-parent .nav li').removeClass('active');
	});
</script>
</block>