<div class="Coupon_Title">
	<h6>使用优惠</h6>
</div>
<if condition="!empty($data['notUse'])">
	<div class="Coupon_Click">
		<foreach name="data['notUse']" key="key" item="value">
			<a href="javascript:;" conpouId="{$value[$mCouponList::$id_d]}" eventMonery="{$value[$model::$money_d]}" class="Selection_Selection" onclick="SettlementCoupon.ck(this, '{:U('validateCouponUse')}')">
				<div class="Selection_Selection_top">
					<input type="hidden" value="{$value[$mCouponList::$id_d]}"  name="{$mCouponList::$id_d}"/>
					<input type="hidden" value="{$value[$mCouponList::$cId_d]}" name="{$mCouponList::$cId_d}"/>
					<span class="Amount" monery="{$value[$model::$money_d]}">￥{$value[$model::$money_d]}</span> <span class="Fullness">满{$value[$model::$condition_d]}</span>
				</div>
				<div class="Coupon_validity">有效期至{$value[$model::$useEnd_time_d]|date="Y-m-d", ###}</div>
				<div class="Coupon_Bottom">[{$value[$model::$name_d]}] [限本网站商品]</div> 
			</a>
		</foreach>
	</div>
</if>
<if condition="!empty($data['alreadyUse'])">
	<div class="not_available">
		<foreach name="data['alreadyUse']" key="key" item="value">
			<a href="javascript:;" class="not_available_a">
				<div class="not_available_a_top">
					<span class="Amount">￥{$value[$model::$money_d]}</span> <span class="Fullness">满{$value[$model::$condition_d]}</span>
				</div>
				<div class="not_available_validity">有效期至{$value[$model::$useEnd_time_d]|date="Y-m-d", ###}</div>
				<div class="not_available_Bottom">[{$value[$model::$name_d]}] [限本网站商品]</div>
			</a>
		</foreach>
	</div>
</if>
<div class="Coupon_Summary" id="conpouMonery">
	金额抵用<span class="Coupon_Summary_erd" id="useConpon"><em>￥</em>0.00 </span> 优惠券0张，优惠<span>0.00</span>元
</div>
<script type="text/javascript" src="__JS__/Coupon/coupon.js"></script>
<script type="text/javascript">
SettlementCoupon.undo();
</script>