<!--地址编辑and新建-->

<div class="ui-dialog-child"></div>
<div class="consignee">
	<div class="ui-dialog-title clearfix">
		<span class="fl">编辑收货人信息</span> <a href="javascript:;" class="fr"></a>
	</div>
	<div class="inPtn">
		<form id="formAddressId" method="post">
			<p class="clearfix">
				<span class="fl"><i>*</i> 收货人：</span> <input type="text" msg="请输入中文" value="{$data[$region::$realname_d]}"
					name="{$region::$realname_d}" validateRule="1" class="fl itxt req">
			</p>
			<p class="clearfix">
				<span class="fl"><i>*</i> 所在地区：</span> <select isNumber="1"
					name="{$region::$provId_d}" class="fl req" id="parent"
					onclick="InterAddress.getAreaListClear($(this), '{:U('getAreaList')}', $('#city'));">
					<option value="0">-请选择-</option>
				</select> <select name="{$region::$city_d}" class="fl req" id="city"
					isNumber="1" class="req"
					onclick="InterAddress.getAreaListClear($(this), '{:U('getAreaList')}', $('#dist'));">
					<option value="{$data[$region::$provId_d]}">-请选择-</option>
				</select> <select name="{$region::$dist_d}" class="fl req" isNumber="1"
					class="req" id="dist">
					<option value="{$data[$region::$city_d]}">-请选择-</option>
				</select>
			</p>
			<p class="clearfix">
				<span class="fl"><i>*</i> 详细地址：</span> <input type="text" value="{$data[$region::$address_d]}"
					name="{$region::$address_d}" class="fl req" nsg="请输入详细地址">
			</p>
			<p class="clearfix">
				<span class="fl"><i>*</i> 手机号码：</span> <input type="text" 
					value="{$data[$region::$mobile_d]}"
					isNumber="1" name="{$region::$mobile_d}" validateRule="2"
					class="fl itxt req" msg="请输入电话号码"> <span
					class="fl deviation">固定电话：</span> <input type="text" isNumber="1" value="{$data[$region::$telphone_d]}"
					name="{$region::$telphone_d}" validateRule="3" class="fl itxt req">
			</p>
			<p class="clearfix">
				<span class="fl">&nbsp;&nbsp; 邮箱：</span> <input type="text" value="{$data[$region::$email_d]}"
					validateRule="4" name="{$region::$email_d}" class="fl itxt req">
				<em class="fl deviation ">用来接收订单提醒邮件，便于您及时了解订单状态</em>
			</p>
			<p class="clearfix">
				<span class="fl">地址别名：</span> <input type="text" value="{$data[$region::$alias_d]}"
					name="{$region::$alias_d}" class="fl itxt"><input type="hidden" value="{$data[$region::$id_d]}"
					name="{$region::$id_d}">
			</p>
			<input type="submit"
				onclick="InterAddress.addUserAddress('formAddressId', '{:U('UserAddress/editAddress')}');"
				class="submit" value="保存收货人信息">
		</form>
	</div>
</div>
<script type="text/javascript" src="__COMMON__/js/alert.js"></script>
<script type="text/javascript" src="__JS__/settlement/address.js"></script>
	<script type="text/javascript" src="__COMMON__/js/jquery-form.js"></script>
	<script type="text/javascript"
		src="__COMMON__/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__COMMON__/js/validateCustom.js"></script>
	<script type="text/javascript" src="__JS__/Settlement.js"></script>
	<script type="text/javascript">
		var AREA_LIST = "{:U('getAreaList')}";
		InterAddress.areaData = {$json};
		InterAddress.getAreaList($('#parent'), AREA_LIST,$('#parent'));
		InterAddress.getAreaList($('#city'), AREA_LIST,$('#city'));
		InterAddress.getAreaList($('#dist'), AREA_LIST,$('#dist'));
	</script>
