<extend name="Public/BaseTwo"/>
<block name="banner">
    <!--Banner-->
    <div class="poopcer-content-wrap">
        <div class="brasp-banner w">
            <a href="javascript:;">
                <img src="images/banner3.jpg">
            </a>
        </div>
    
</block>
<block name="content">
    <!--限时活动-->
    <div class="popc-centent-wrap w">
        <div class="title clearfix">
            <div class="clock">
                <span class="fl">45</span>
                <b class="fl">：</b>
                <span class="fl">34</span>
                <b class="fl">：</b>
                <span class="fl">32</span>
            </div>
        </div>
    </div>
    <!--限时抢购-->
    <div class="time-centent-main w">
        <a href="javascript:;" class="btn-fl"></a>
        <a href="javascript:;" class="btn-fr"></a>
        <ul class="clearfix">
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl active">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl active">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
            <li class="fl active">
                <div class="guild">
                    <span class="fl one">限时</span>
                    <span class="fl">抢购</span>
                </div>
                <div class="discount">
                    <b>4</b><span>.3/折</span>
                </div>
                <!--缩略图-->
                <div class="screenshot">
                    <a href="javascript:;"><img src="images/con-1.jpg"></a>
                </div>
                <div class="products-description">
                    <p>齐心 C330 办公必备 透明按扣袋透明按扣袋</p>
                    <div class="products-prices">￥6000.00</div>
                    <input type="button" value="加入购物车">
                </div>
            </li>
        </ul>
    </div>
    <div class="Advertising w">
        <a href="javascript:;"><img src="images/gg1.jpg" alt=""></a>
    </div>
    <!--特惠尾单-->
    <div class="preferential-centent-main w">
        <div class="title clearfix">
            <img src="images/q5.jpg" class="fl">
            <h2 class="fl">特惠尾单</h2>
            <span class="fl">SALE</span>
        </div>
        <div class="con-wrap">
            <ul class="clearfix">
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl active">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl active">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl active">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
                <li class="fl active">
                    <div class="screenshot">
                        <a href="javascript:;"><img src="images/con-1.jpg"></a>
                    </div>
                    <div class="products-description">
                        <p>商城 C330 办公必备 透明按扣商城 C330 办公必备 透明...</p>
                        <span class="data"><b>496</b>人已购买</span>
                        <div class="products-prices">
                            <div class="fl">
                                <span><b>￥</b>116<b>.00</b></span><br>
                                <em>￥176.00</em>
                            </div>
                            <div class="fr">8.5折</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
    <!--右侧一键到顶 and 客服-->
    <ul class="home-tab">
        <li>
            <em></em>
            <span>2</span>
            <div class="userTips">
                <p>将过期的优惠券：<b>0</b></p>
                <p>使用过的优惠券：<b>0</b></p>
                <p>以使用的优惠券：<b>0</b></p>
            </div>
        </li>
        <li>
            客服
            <div class="userTips one">
                <a href="javascript:;">东北</a>
                <a href="javascript:;">华北</a>
                <a href="javascript:;">华南</a>
                <a href="javascript:;">华中</a>
                <a href="javascript:;">苏沪</a>
                <a href="javascript:;">皖浙</a>
                <a href="javascript:;">西北</a>
                <a href="javascript:;">西南</a>
            </div>
        </li>
        <li>
            物流
            <div class="userTips one">
                <a href="javascript:;">深圳仓</a>
                <a href="javascript:;">广州仓</a>
                <a href="javascript:;">上海仓</a>
                <a href="javascript:;">北京仓</a>
                <a href="javascript:;">成都仓</a>
                <a href="javascript:;">沈阳仓</a>
                <a href="javascript:;">南京仓</a>
                <a href="javascript:;">西安仓</a>
                <a href="javascript:;">济南仓</a>
                <a href="javascript:;">武汉仓</a>
                <a href="javascript:;">重庆仓</a>
            </div>
        </li>
        <li>售后</li>
        <li>技术</li>
        <li>投诉</li>
        <li>关闭</li>
    </ul>
    <!--一键到顶-->
    <div class="hm-go-top-parent">
        <div class="hm-go-top active"></div>
        <div class="hm-tit-top">顶部</div>
    </div>




</block>